<header>
  <h1 class="global-modal__heading">We need additional information</h1>
</header>
<div class="global-modal__body">
  <section>
    <p class="tire-sidewall-additional-modal__paragraph">Here are the sizes that will fit on your:</p></br>
    <p class="tire-sidewall-additional-modal__paragraph">
      <strong class="tire-sidewall-additional-modal__strong">{{Model}} {{Make}} {{Year}}</strong>
    </p>
  </section>
  <div class="tire-sidewall-additional-modal__grid-left">
    <h2 class="tire-sidewall-additional-modal__heading-secondary">
      <span>STANDART SIZE</span>
    </h2>
    <ul class="tire-sidewall-additional-modal__radio-list">
      <li class="tire-sidewall-additional-modal__radio-item">
        <input type="radio" checked="checked" value="{{TireSize}}">{{ TireSize}}
      </li>
    </ul>
    {{#if TireSizeR}}
    <ul class="tire-sidewall-additional-modal__radio-list">
      <li class="tire-sidewall-additional-modal__radio-item">
        <input type="radio" value="{{TireSizeR}}">{{ TireSizeR}}
      </li>
    </ul>
    {{/if}}
  </div>

  <div class="tire-sidewall-additional-modal__grid-right">
    <h2 class="tire-sidewall-additional-modal__heading-secondary">
      <span>OR CHOOSE AN OPTIONAL Tire SIZE</span>
    </h2>
  </div>

</div>
<footer class="footer global-modal__footer">
  <ul>
    <li class="global-modal__footer__btn-wrapper">
      <button class="findTires Popup modal__footer__cta-text-button global-form-button global-form-button--width-auto global-form-button--narrow">FIND TIRES</button>
    </li>
    <li class="global-modal__footer__btn-wrapper">
      <button class="cancel tire-sidewall-additional-modal__footer__text-link global-link global-link--arrow-after global-link--white modal__footer__btn-wrapper">Cancel</button>
    </li>
  </ul>
</footer>
<div class="popup-close">
</div>
